:root {
	--sl-color-black: #2e3440;
	--sl-color-white: #eceff4;
	--sl-color-gray-6: #3b4252;
	--sl-color-orange: #d08770;
	--sl-color-green: #a3be8c;
	--sl-color-purple: #b48ead;
	--sl-color-red: #bf616a;
	--sl-color-accent-low: #5e81ac;
	--sl-color-accent: #81a1c1;
	--sl-color-accent-high: #88c0d0;
}
